.preety{
    width:70%;
    margin:100px auto;
    text-align: center;
    border-radius: 10px;
    list-style:none;
    padding:0;
    li {
        background: #4285F4;
        color:#fff;
        font-size:20px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: bold;
        padding:20px;
        margin-bottom:1px;
        &.first {
            border-radius: 30px 30px 0 0;
            background: #2C5FB4;
        }
        &.last {
            border-radius: 0 0 30px 30px;
            background: #2C5FB4;
        }
    }
}

body{
    background: #ddd;
}

.list{
    list-style-type: none;
    width: 300px;
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    li{
        padding: 5px 2px;
        text-align: center;
    }
}

// img{
//     width: 345px;
// }

.box{
    background: #6D6D6D;
    width: 50%;
    margin: 10px auto;
    .tytul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .pierwszy{
            flex: 2;
            padding: 10px;

        }
        .drugi{
            flex: 2;
            padding: 10px;
        }
    }
    .tekst{
        padding: 10px;
        color: white;
        display: none;
    }
    .show{
        display: block;
    }
}
 
// body {
//   overflow-y: hidden;
// }
.wrapper {
  background:#B2CAF5;
  border: 2px solid #02E4FF;
  padding: 2em;
}

#parent {
  height: 350px;
  overflow-y: scroll;
}

#event {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #465466;
  border-radius: 4px;
  box-shadow: 0px 2px 28px 0px rgba(0,0,0,0.25);
  color: white;
  padding: 1em;
}

#Above,
#Below,
#Giant {
  background: #fff;
  border: 1px solid #F6A6FF;
  height: 20vh;
  margin-bottom: 1em;
  padding: 0.5em;
}

#Giant {
  height: 300vh;
}
.text3, .text4{
        font-size: 20px;
    line-height: 40px;
    padding: 20px;
    text-align: justify;
}
.foto2{

}

.lazy1{
    width: 1170px;
    // margin: 0 auto;
}

.zadanie2{
    .bigTitle{
        padding: 30px 40px;
        text-align: center;
        background: rgb(16, 71, 122);
        color: rgb(211, 226, 207);
    }
    .btn{
        background: rgb(233, 52, 52);
        color: #fff;
        padding: 10px 20px;
        display: block;
        width: 100px;
        text-align: center;
        transition: 0.3s all;
        margin: 10px 0;
        &:hover{
            background: rgb(219, 144, 144);
        }
        
    }
    .ele{
        display: flex;
        flex-direction: column;
        .elem{
            background: rgb(34, 79, 116);
            color: rgb(155, 155, 155);
            padding: 10px 20px;
            margin: 3px 0;
            width: 100px;
            text-align: center;
        }
        p{
            padding: 10px 20px;
            background: rgb(60, 104, 62);
            color: #ddd;
            font-size: 20px;
            display: inline-block;
            margin: 10px 0;
        }
    }
}


.rtc{

    position: relative;
    h1{
        text-align: center;
        font-size: 40px;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 80%;
        margin: 10px auto;
        li{
            padding: 10px 0;
        }
        .dom{
            border: 2px solid black;
            margin: 2px 0;
            background: rgba(136, 135, 135, 0.185);
        }

    }

    .domy{
        background: black;
        color: white;
        font-size: 40px;
        text-align: center;
        padding: 30px 0;
    }
    .btn5{
        position: fixed;
        top: 100px;
        left: 100px;
        background: #4285F4;
        color: #fcfcfc;
        padding: 10px 20px; 
        border-radius: 3px;
        display: inline-block;
        border: 1px solid #4285F4;
        transition: all 0.3s;
        &:hover{
            background: #fcfcfc;
            color: #4285F4;
        }
    }
    
}



