body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    background: linear-gradient(270deg, #ddd, #fff);
}
.wrapper{
    
    margin: 0;
    padding: 0;
}
.box1{
    text-align: center;

    h3{
        font-size: 40px;
        padding: 10px 20px;
    }

    p{
        padding: 20px;
        line-height: 30px;
        text-align: justify;
    }
    a.btn{
        border: 2px solid #1c1c1c;
        color: #1c1c1c;
        display: inline-block;
        margin: 10px auto;
        padding: 10px 20px;
        text-decoration: none;
        
    }
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.582);
    top: 0;
    left: 0;
    display: none;
    .popup-content{
        width: 600px;
        height: 340px;
        margin: 100px auto;
        position: relative;
        border: 5px solid #fff;
        overflow: hidden;
        .close{
            position: absolute;
            top: 5px;
            right: 5px;
        }
        a{
            color: #1c1c1c;
            text-decoration: none;
            font-weight: bold;
            padding: 5px;
            transition: all 0.3s ease-in-out;

            &:hover{
                color: #9c0b0b;
            }
        }
    }
    &:target{
        display: block;
    }
}

.testy{
    .btn{
        display: block;
        margin-bottom: 30px;
        background: #727272;
        color: black;
        padding: 10px 20px;
        border-radius: 3px;
        margin: 10px auto;
        width: 130px;
        transition: all 0.3s ease-in-out;
        &:hover{
            background: #ABABAB;
        }
    }
    .wynik, .wynik2{
        display: block;
        background: grey;
        color: white;
        font-size: 30px;
        padding: 10px 30px;
        border: 1px solid grey;
        width: 300px;
        margin-bottom: 10px;
    }
    .wynik3{
        background: white;
        color: grey;
        border: 1px solid grey;
    }
}