

.margin{
  margin-top: 40px;
}


#game_result_art{
  margin-top: 5px;
  font-family: 'Roboto', sans-serif;
  background:rgb(43, 49, 61);
  text-align: left;
  background: #efefef;
  .node_title{
    ul{
      display: flex;
      justify-content: flex-start;
      padding:10px 0;
      position: absolute;
      top:-35px;
      li::after{
        content:">";
        font-size: 11px;
        color: #b2b2b2;
        margin: 0 2px;
      }
      li:last-child::after{
        content:"";
      }
      a{
        font-size: 11px;
        color: #b2b2b2;
      } 
    }
  }
  .node_table table{
    width: 100%;
    border-collapse: collapse;
    th, td{
      height: 40px;
      text-align: left;
      
    }

    thead{
      tr{
        
        th{
          font-size: 13px;
          color: #888888;
          font-weight: normal;
        }
        .no{
          width: 8%;
          text-align:center;
        }
        .flag{
          width: 5%;
        }
        .player{
          width:52%;
        }
        .country{
          width:20%;
        }
        .result{
          width:15%;
          text-align: center;
        }
      }
    }
    tbody{
      tr{
        border-top: 1px solid #dddddd;
        color: #020202;
        &:first-child{
          font-weight: bold;
          a{
            font-weight: bold;
          }
        }
        a{
          color: #020202;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      // .highlight{
      //   border-top: 1px solid #dddddd;
      // }
      .empty{
        .no{
          position: relative;
          left: 50%;
          transform: translate(-50%,-18%);
          font-size: 35px;
          color: #888888;
          line-height: 20px;
          // display: flex;
          // justify-content: center;
          // align-items:center;
        }
      }
      .no{
        text-align: center;
      }
      .flag{
        display: flex;
        justify-content: center;
        align-items:center;
        position: absolute;
        left: 65%;
      }
      .player{
        a{
          color: #020202;
        }
      }
      .country{
        position: relative;
        left: 4%;
      }
      .result{
        text-align: center;
      }
    }
  }
  .node_more{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-top: 1px solid #dddddd;
    a{
      font-size: 14px;
      color: #000;
      text-decoration: none;
      font-weight: bold; 

      &::after{
        content:">";
        margin-left: 5px;
        font-size: 14px;
        color: #000;
        font-weight: bold; 
      }
    }
    
  }
}